In [1]:
import numpy as np
import pandas as pd

In [7]:
#To fill missing values in numerical column
from sklearn.impute import SimpleImputer

#To fill missing values in nominal categorial column
from sklearn.preprocessing import OneHotEncoder

# To fill missing values in oridinal categorical column
from sklearn.preprocessing import OrdinalEncoder

In [13]:
df = pd.read_csv("covid_toy.csv")

In [17]:
# df.head()
df.sample(5)

    age  gender  fever   cough       city has_covid
57   49  Female   99.0  Strong  Bangalore        No
70   68  Female  101.0  Strong      Delhi        No
60   24  Female  102.0  Strong  Bangalore       Yes
14   51    Male  104.0    Mild  Bangalore        No
26   19  Female  100.0    Mild    Kolkata       Yes

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [23]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [47]:
df.cough.value_counts()

cough
Mild      62
Strong    38
Name: count, dtype: int64

In [61]:
df["gender"].value_counts()

gender
Female    59
Male      41
Name: count, dtype: int64

In [63]:
df["city"].value_counts()

city
Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: count, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop(columns=["has_covid"]),
                                                    df["has_covid"], test_size=0.2)

In [27]:
X_train

    age  gender  fever   cough       city
15   70    Male  103.0  Strong    Kolkata
76   80    Male  100.0    Mild  Bangalore
5    84  Female    NaN    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
53   83    Male   98.0    Mild      Delhi
..  ...     ...    ...     ...        ...
94   79    Male    NaN  Strong    Kolkata
10   75  Female    NaN    Mild      Delhi
9    64  Female  101.0    Mild      Delhi
73   34    Male   98.0  Strong    Kolkata
88    5  Female  100.0    Mild    Kolkata

[80 rows x 5 columns]

In [29]:
X_test

    age  gender  fever   cough       city
39   50  Female  103.0    Mild    Kolkata
30   15    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
89   46    Male  103.0  Strong  Bangalore
6    14    Male  101.0  Strong  Bangalore
11   65  Female   98.0    Mild     Mumbai
41   82    Male    NaN    Mild    Kolkata
83   17  Female  104.0    Mild    Kolkata
70   68  Female  101.0  Strong      Delhi
79   48  Female  103.0    Mild    Kolkata
81   65    Male   99.0    Mild      Delhi
77    8  Female  101.0    Mild    Kolkata
99   10  Female   98.0  Strong    Kolkata
28   16    Male  104.0    Mild    Kolkata
61   81  Female   98.0  Strong     Mumbai
65   69  Female  102.0    Mild  Bangalore
80   14  Female   99.0    Mild     Mumbai
98    5  Female   98.0  Strong     Mumbai
31   83    Male  103.0    Mild    Kolkata
44   20    Male  102.0  Strong      Delhi

# Aam Zindagi

In [55]:
# Simple imputer "fever"

si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[["fever"]])

X_test_fever = si.fit_transform(X_test[["fever"]])

X_train_fever.shape

(80, 1)

In [51]:
# Ordinal Encoding "cough"

oe = OrdinalEncoder(categories=[["Mild", "Strong"]])
X_train_cough = oe.fit_transform(X_train[["cough"]])

# also on test data
X_test_cough = oe.fit_transform(X_test[["cough"]])

X_train_cough.shape

(80, 1)

In [73]:
# One Hot Encoding "gender, city"

ohe = OneHotEncoder(drop="first", sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[["gender", "city"]])

X_test_gender_city = ohe.fit_transform(X_test[["gender", "city"]])

X_train_gender_city.shape

(80, 4)

In [77]:
# Age Extracting

X_train_age = X_train.drop(columns=["gender", "fever", "cough", "city"])

X_test_age = X_test.drop(columns=["gender", "fever", "cough", "city"])

X_train_age.shape

(80, 1)

In [83]:
X_train_transformed = np.concatenate((X_train_age, X_train_fever,X_train_gender_city,
                                      X_train_cough), axis=1)
X_test_transformed = np.concatenate((X_train_age, X_train_fever,X_train_gender_city,
                                      X_train_cough), axis=1)

X_train_transformed.shape

(80, 7)