In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [4]:
house_price = pd.read_csv("House_Price.csv")

In [6]:
house_price.sample(5)

,Unnamed: 0,Address,Price,NoOfBedrooms,NoOfBathrooms,AreaSqYards
1151,1247,"Falcon Complex New Malir, Malir",69000000.0,4.0,4.0,350
1947,2121,"Bahria Town - Jinnah Avenue, Bahria Town Karachi",13000000.0,2.0,2.0,120
16575,19101,other,13000000.0,2.0,3.0,89
11365,13194,"DHA Phase 5, DHA Defence",82500000.0,6.0,6.0,600
1818,1983,"DHA Phase 5, DHA Defence",83000000.0,5.0,5.0,500