In [1]:
import sys
print(sys.version)

3.13.9 | packaged by Anaconda, Inc. | (main, Oct 21 2025, 19:09:58) [MSC v.1929 64 bit (AMD64)]

In [14]:
import tradingeconomics as te

In [8]:
# te.login('key:71827363b083479:gngqs71p9iucyvq')
# te.subscribe('calendar')

# def on_message(ws, message):
#     data = json.loads(message)
#     print(data)

# te.run(on_message)

You are subscribed to:['calendar']
Handshake status 401 Unauthorized -+-+- {'date': 'Wed, 05 Nov 2025 17:25:53 GMT', 'content-type': 'text/html', 'content-length': '12', 'connection': 'keep-alive', 'set-cookie': 'AWSALB=+hGAKohbn9b3MQOdzyb1MxPMf1PZB7xP6zlfki6ybMLzfC0Y13qeSwynayN/6EPc+ky+y+7y8BoKZuyJhux9iu4VlhyEp14brOM+2LgKveEzOp14Vl1PR/EghBPD; Expires=Wed, 12 Nov 2025 17:25:53 GMT; Path=/; AWSALBCORS=+hGAKohbn9b3MQOdzyb1MxPMf1PZB7xP6zlfki6ybMLzfC0Y13qeSwynayN/6EPc+ky+y+7y8BoKZuyJhux9iu4VlhyEp14brOM+2LgKveEzOp14Vl1PR/EghBPD; Expires=Wed, 12 Nov 2025 17:25:53 GMT; Path=/; SameSite=None; Secure'} -+-+- b'Unauthorized'
start_socket.<locals>._on_close() takes 1 positional argument but 3 were given

In [22]:
te.login('71827363b083479:djacedlvjjsus3h')

'Logged with 71827363b083479'

In [36]:
df = te.getCalendarData(output_type='df')

In [38]:
df.head()

,CalendarId,Date,Country,Category,Event,Reference,ReferenceDate,Source,SourceURL,Actual,...,TEForecast,URL,DateSpan,Importance,LastUpdate,Revised,Currency,Unit,Ticker,Symbol
0,386475,2025-11-05T12:00:00,Mexico,Private Investment,Gross Fixed Investment MoM,Aug,2025-08-31T00:00:00,Instituto Nacional de Estadística y Geografía ...,https://www.inegi.org.mx/,-2.7%,...,0.8%,/mexico/private-investment,0,1,2025-11-05T12:18:05.833,1.6%,,%,MEXICOPRIINV,MEXICOPRIINV
1,386474,2025-11-05T12:00:00,Mexico,Private Investment,Gross Fixed Investment YoY,Aug,2025-08-31T00:00:00,Instituto Nacional de Estadística y Geografía ...,https://www.inegi.org.mx/,-10.4%,...,-4.0%,/mexico/private-investment,0,1,2025-11-05T12:16:15.28,-6.6%,,%,MEXICOPRIINV,MEXICOPRIINV
2,394425,2025-11-05T10:05:00,Sweden,Calendar,2031 SGB Auction,,None,,,2.2128%,...,,/sweden/calendar,0,1,2025-11-05T10:09:05.64,,,%,SWE CALENDAR,
3,393849,2025-11-05T10:05:00,Sweden,Calendar,2036 SGB Auction,,None,,,2.5906%,...,,/sweden/calendar,0,1,2025-11-05T10:08:14.067,,,%,SWE CALENDAR,
4,386371,2025-11-05T09:00:00,Mexico,Foreign Exchange Reserves,Foreign Exchange Reserves,Oct,2025-10-31T00:00:00,Banco de México,https://www.banxico.org.mx/,$248.8B,...,$248.0B,/mexico/foreign-exchange-reserves,0,1,2025-11-05T09:07:30.623,,$,B,MEXICOFOREXCRES,MEXICOFOREXCRES

In [40]:
df.shape

(10, 22)

In [42]:
df.columns

Index(['CalendarId', 'Date', 'Country', 'Category', 'Event', 'Reference',
       'ReferenceDate', 'Source', 'SourceURL', 'Actual', 'Previous',
       'Forecast', 'TEForecast', 'URL', 'DateSpan', 'Importance', 'LastUpdate',
       'Revised', 'Currency', 'Unit', 'Ticker', 'Symbol'],
      dtype='object')

In [44]:
te.getIndicatorData(country=['mexico', 'sweden'], output_type='df')

,Country,Category,Title,LatestValueDate,LatestValue,Source,SourceURL,Unit,URL,CategoryGroup,Adjustment,Frequency,HistoricalDataSymbol,CreateDate,FirstValueDate,PreviousValue,PreviousValueDate
0,Sweden,Youth Unemployment Rate,Sweden Youth Unemployment Rate,2025-09-30T00:00:00,23.60,EUROSTAT,https://ec.europa.eu/eurostat/,percent,/sweden/youth-unemployment-rate,Labour,SA,Monthly,SwedenYouUneRat,2014-05-02T17:44:00,1983-01-31T00:00:00,24.40,2025-08-31T00:00:00
1,Sweden,Withholding Tax Rate,Sweden Withholding Tax Rate,2025-12-31T00:00:00,0.00,Skatteverket,http://skatteverket.se/,percent,/sweden/withholding-tax-rate,Taxes,NSA,Yearly,SWEWTR,2023-04-27T21:42:00,2022-12-31T00:00:00,0.00,2024-12-31T00:00:00
2,Mexico,Withholding Tax Rate,Mexico Withholding Tax Rate,2025-12-31T00:00:00,35.00,"Servicio de Administración Tributaria, SHCP",,percent,/mexico/withholding-tax-rate,Taxes,NSA,Yearly,MEXWTR,2023-04-27T21:19:00,2022-12-31T00:00:00,35.00,2024-12-31T00:00:00
3,Sweden,Weapons Sales,Sweden Weapons Sales,2024-12-31T00:00:00,381.00,SIPRI,https://www.sipri.org,SIPRI TIV Million,/sweden/weapons-sales,Trade,,Yearly,SwedenWeaSal,2016-05-28T14:54:00,1950-12-31T00:00:00,375.00,2023-12-31T00:00:00
4,Sweden,Wages in Manufacturing,Sweden Average Hourly Wages in Manufacturing,2025-08-31T00:00:00,222.30,Statistics Sweden,https://www.scb.se/,SEK/Hour,/sweden/wages-in-manufacturing,Labour,"Current Prices, NSA",Monthly,SWEDENWAGINMAN,2012-09-29T02:22:00,2008-01-31T00:00:00,224.10,2025-07-31T00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,Sweden,Average Weekly Hours,Sweden Average Weekly Hours,2025-09-30T00:00:00,33.40,Statistics Sweden,https://www.scb.se/,Hours,/sweden/average-weekly-hours,Labour,NSA,Monthly,SWEAVGWEEKLYHOURS,2023-06-30T08:35:00,1987-01-31T00:00:00,24.60,2025-08-31T00:00:00
295,Sweden,Average Annual Wages,Sweden Average Annual Wages,2024-12-31T00:00:00,60415.32,OECD,https://www.oecd.org/,USD,/sweden/average-annual-wages,Labour,"PPP converted, 2024",Yearly,SWEAAW,2025-10-08T13:11:00,1990-12-31T00:00:00,59058.07,2023-12-31T00:00:00
296,Mexico,Average Annual Wages,Mexico Average Annual Wages,2024-12-31T00:00:00,20422.85,OECD,https://www.oecd.org/,USD,/mexico/average-annual-wages,Labour,"PPP converted, 2024",Yearly,MEXAAW,2025-10-08T13:10:00,1990-12-31T00:00:00,20835.53,2023-12-31T00:00:00
297,Mexico,Auto Exports,Mexico Auto Exports,2025-09-30T00:00:00,314.66,Instituto Nacional de Estadística y Geografía ...,https://www.inegi.org.mx/,Thousand Units,/mexico/auto-exports,Trade,NSA,Monthly,MEXICOAUTEXP,2019-07-23T12:20:00,1988-01-31T00:00:00,296.80,2025-08-31T00:00:00
298,Sweden,Asylum Applications,Sweden Asylum Applications,2025-09-30T00:00:00,465.00,EUROSTAT,https://ec.europa.eu/eurostat/,persons,/sweden/asylum-applications,Government,,Monthly,SwedenAsyApp,2015-09-06T15:26:00,2008-01-31T00:00:00,385.00,2025-08-31T00:00:00

In [48]:
te.getMarketsData(marketsField = 'commodities',output_type="df")

,Symbol,Ticker,Name,Country,Date,State,Last,Close,CloseDate,Group,...,yesterday,lastWeek,lastMonth,lastYear,startYear,decimals,unit,frequency,StartDate,LastUpdate
0,,,,Free accounts have access to the following cou...,None,None,None,None,None,,...,None,None,None,None,None,None,,None,None,None

In [50]:
te.getMarketsBySymbol(symbols='aapl:us', output_type="df")

,Symbol,Ticker,Name,Country,Date,Type,decimals,state,Last,Close,...,day_low,yesterday,lastWeek,lastMonth,lastYear,startYear,ISIN,unit,frequency,LastUpdate
0,,,,Free accounts have access to the following cou...,None,,None,None,None,None,...,None,None,None,None,None,None,,None,None,None

In [52]:
te.getFinancialsData(symbol = 'aapl:us', output_type = 'df')

,Symbol,Date,last,value1,date1,value2,date2,value3,date3,value4,date4,unit,currency,frequency,stock,financialSymbol
0,aapl:us:trade-debtors,2025-09-30T00:00:00,7.295700e+04,7.295700e+04,2025-09-30T00:00:00,4.683500e+04,2025-06-30T00:00:00,4.979800e+04,2025-03-31T00:00:00,5.930600e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,trade-debtors
1,aapl:us:trade-creditors,2025-09-30T00:00:00,6.986000e+04,6.986000e+04,2025-09-30T00:00:00,5.037400e+04,2025-06-30T00:00:00,5.412600e+04,2025-03-31T00:00:00,6.191000e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,trade-creditors
2,aapl:us:stock,2025-09-30T00:00:00,5.718000e+03,5.718000e+03,2025-09-30T00:00:00,5.925000e+03,2025-06-30T00:00:00,6.269000e+03,2025-03-31T00:00:00,6.911000e+03,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,stock
3,aapl:us:selling-and-administration-expenses,2025-09-30T00:00:00,7.048000e+09,7.048000e+09,2025-09-30T00:00:00,6.650000e+09,2025-06-30T00:00:00,6.728000e+09,2025-03-31T00:00:00,7.175000e+09,2024-12-31T00:00:00,E+00,USD,quarterly,aapl:us,selling-and-administration-expenses
4,aapl:us:sales,2025-09-30T00:00:00,1.025000e+11,1.025000e+11,2025-09-30T00:00:00,9.403600e+10,2025-06-30T00:00:00,9.535900e+10,2025-03-31T00:00:00,1.243000e+11,2024-12-31T00:00:00,E+00,USD,quarterly,aapl:us,sales
5,aapl:us:pre-tax-profit,2025-06-30T00:00:00,2.803100e+04,2.803100e+04,2025-06-30T00:00:00,2.931000e+04,2025-03-31T00:00:00,4.258400e+04,2024-12-31T00:00:00,2.961000e+04,2024-09-30T00:00:00,E+06,USD,quarterly,aapl:us,pre-tax-profit
6,aapl:us:pe,2025-09-30T00:00:00,3.422100e+01,3.422100e+01,2025-09-30T00:00:00,2.771000e+01,2025-06-30T00:00:00,3.074900e+01,2025-03-31T00:00:00,3.667500e+01,2024-12-31T00:00:00,,USD,quarterly,aapl:us,pe
7,aapl:us:outstanding-shares,2025-01-03T00:38:00,1.511582e+10,1.511582e+10,2025-01-03T00:00:00,NaN,None,NaN,None,NaN,None,E+00,None,,aapl:us,outstanding-shares
8,aapl:us:ordinary-share-capital,2025-09-30T00:00:00,1.477326e+04,1.477326e+04,2025-09-30T00:00:00,1.485672e+04,2025-06-30T00:00:00,1.493932e+04,2025-03-31T00:00:00,1.504073e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,ordinary-share-capital
9,aapl:us:operating-profit,2025-09-30T00:00:00,3.242700e+04,3.242700e+04,2025-09-30T00:00:00,2.820300e+04,2025-06-30T00:00:00,2.958900e+04,2025-03-31T00:00:00,4.283200e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,operating-profit
10,aapl:us:operating-expenses,2025-09-30T00:00:00,7.003900e+04,7.003900e+04,2025-09-30T00:00:00,6.583300e+04,2025-06-30T00:00:00,6.577000e+04,2025-03-31T00:00:00,8.146800e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,operating-expenses
11,aapl:us:net-income,2025-09-30T00:00:00,2.746600e+04,2.746600e+04,2025-09-30T00:00:00,2.343400e+04,2025-06-30T00:00:00,2.478000e+04,2025-03-31T00:00:00,3.633000e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,net-income
12,aapl:us:market-capitalization,2025-11-05T15:04:00,4.064947e+03,3.791126e+03,2025-09-30T00:00:00,3.003296e+03,2025-06-30T00:00:00,3.273310e+03,2025-03-31T00:00:00,3.863453e+03,2024-12-31T00:00:00,E+09,USD,quarterly,aapl:us,market-capitalization
13,aapl:us:loan-capital,2025-09-30T00:00:00,7.832800e+04,7.832800e+04,2025-09-30T00:00:00,8.243000e+04,2025-06-30T00:00:00,7.856600e+04,2025-03-31T00:00:00,8.395600e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,loan-capital
14,aapl:us:interest-income,2023-09-30T00:00:00,9.840000e+08,9.840000e+08,2023-09-30T00:00:00,9.800000e+08,2023-06-30T00:00:00,9.180000e+08,2023-03-31T00:00:00,8.680000e+08,2022-12-31T00:00:00,E+00,USD,quarterly,aapl:us,interest-income
15,aapl:us:interest-expense-on-debt,2025-03-31T00:00:00,2.790000e+02,2.790000e+02,2025-03-31T00:00:00,1.002000e+03,2023-09-30T00:00:00,9.980000e+02,2023-06-30T00:00:00,9.300000e+02,2023-03-31T00:00:00,E+06,USD,quarterly,aapl:us,interest-expense-on-debt
16,aapl:us:gross-profit-on-sales,2025-06-30T00:00:00,4.371800e+04,4.371800e+04,2025-06-30T00:00:00,4.486700e+04,2025-03-31T00:00:00,5.827500e+04,2024-12-31T00:00:00,4.387900e+04,2024-09-30T00:00:00,E+06,USD,quarterly,aapl:us,gross-profit-on-sales
17,aapl:us:equity-capital-and-reserves,2025-09-30T00:00:00,7.373300e+04,7.373300e+04,2025-09-30T00:00:00,6.583000e+04,2025-06-30T00:00:00,6.679600e+04,2025-03-31T00:00:00,6.675800e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,equity-capital-and-reserves
18,aapl:us:eps,2025-09-30T00:00:00,1.850000e+00,1.850000e+00,2025-09-30T00:00:00,1.568000e+00,2025-06-30T00:00:00,1.646000e+00,2025-03-31T00:00:00,2.398000e+00,2024-12-31T00:00:00,E+00,USD,quarterly,aapl:us,eps
19,aapl:us:employees,2024-09-30T00:00:00,1.640000e+05,1.640000e+05,2024-09-30T00:00:00,1.610000e+05,2023-09-30T00:00:00,1.640000e+05,2022-09-30T00:00:00,1.540000e+05,2021-09-30T00:00:00,E+00,None,yearly,aapl:us,employees
20,aapl:us:ebitda,2025-09-30T00:00:00,3.555400e+04,3.555400e+04,2025-09-30T00:00:00,3.103200e+04,2025-06-30T00:00:00,3.225000e+04,2025-03-31T00:00:00,4.591200e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,ebitda
21,aapl:us:ebit,2025-09-30T00:00:00,3.242700e+04,3.242700e+04,2025-09-30T00:00:00,2.820300e+04,2025-06-30T00:00:00,2.958900e+04,2025-03-31T00:00:00,4.283200e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,ebit
22,aapl:us:dy,2025-09-30T00:00:00,3.990000e-01,3.990000e-01,2025-09-30T00:00:00,5.020000e-01,2025-06-30T00:00:00,4.590000e-01,2025-03-31T00:00:00,3.870000e-01,2024-12-31T00:00:00,E+00,None,quarterly,aapl:us,dy
23,aapl:us:debt,2025-06-30T00:00:00,1.016980e+05,1.016980e+05,2025-06-30T00:00:00,9.220400e+04,2025-03-31T00:00:00,9.679900e+04,2024-12-31T00:00:00,1.066290e+05,2024-09-30T00:00:00,E+06,USD,quarterly,aapl:us,debt
24,aapl:us:current-liabilities,2025-09-30T00:00:00,1.656310e+05,1.656310e+05,2025-09-30T00:00:00,1.411200e+05,2025-06-30T00:00:00,1.445710e+05,2025-03-31T00:00:00,1.443650e+05,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,current-liabilities
25,aapl:us:current-assets,2025-09-30T00:00:00,1.479570e+05,1.479570e+05,2025-09-30T00:00:00,1.224910e+05,2025-06-30T00:00:00,1.186740e+05,2025-03-31T00:00:00,1.332400e+05,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,current-assets
26,aapl:us:cost-of-sales,2025-09-30T00:00:00,5.412500e+04,5.412500e+04,2025-09-30T00:00:00,5.031800e+04,2025-06-30T00:00:00,5.049200e+04,2025-03-31T00:00:00,6.602500e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,cost-of-sales
27,aapl:us:cash-and-equivalent,2025-09-30T00:00:00,3.593400e+04,3.593400e+04,2025-09-30T00:00:00,3.626900e+04,2025-06-30T00:00:00,2.816200e+04,2025-03-31T00:00:00,3.029900e+04,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,cash-and-equivalent
28,aapl:us:assets,2025-09-30T00:00:00,3.592410e+05,3.592410e+05,2025-09-30T00:00:00,3.314950e+05,2025-06-30T00:00:00,3.312330e+05,2025-03-31T00:00:00,3.440850e+05,2024-12-31T00:00:00,E+06,USD,quarterly,aapl:us,assets

In [58]:
import requests

res = requests.get("https://easydata.sbp.org.pk/api/v1/dataset/TS_GP_RL_BCSIND_M/meta?api_key=3C3985AF94E95F420C8478929A7F137D2F7F4C24" ,verify = False)
# print(res.text)

# Output : '{"columns": ["Dataset Name", "Series Key", "Series Name", "Observation Date", "Observation Value", "Unit", "Observation Status", "Status Comments"], "rows": [["Country-wise Workers\' Remittances", "TS_GP_BOP_WR_M.WR0010", "Total Cash inflow of Workers\' remittances in Pakistan in a month", "2022-07-31", "2523.753816", "Million USD", "Normal", ""]]}'

C:\Users\atifs\anaconda3\envs\trade_env\Lib\site-packages\urllib3\connectionpool.py:1097: InsecureRequestWarning: Unverified HTTPS request is being made to host 'easydata.sbp.org.pk'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#tls-warnings
  warnings.warn(

In [60]:
import pandas as pd
data = res.json()

In [62]:
# import json
# print(json.dumps(data, indent=2))

In [86]:
from pandas import DataFrame
from itertools import zip_longest

# Pad the lists to equal length
keys = list(data.keys())
values = zip_longest(*data.values(), fillvalue=None)

# Reconstruct rows and build DataFrame
df = DataFrame(values, columns=keys)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107 entries, 0 to 106
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   columns  10 non-null     object
 1   rows     107 non-null    object
dtypes: object(2)
memory usage: 1.8+ KB

In [110]:
import numpy as np
import pandas as pd

In [112]:
df = pd.read_csv("Business_Confidence_Survey_Indices.csv")

In [114]:
df.head()

,Dataset Name,Observation Date,Series Key,Series Display Name,Observation Value,Unit,Observation Status,Observation Status Comment,Sequence No.,Series name
0,Business Confidence Survey – Indices,01-Oct-2025,TS_GP_RL_BCSIND_M.BCI,. Business Confidence Index Overall,55.10470,Diffusion Index,Normal,NaN,10,Business Confidence Index Overall
1,Business Confidence Survey – Indices,01-Oct-2025,TS_GP_RL_BCSIND_M.BCI_I,....... Business Confidence Index - Industry,54.58190,Diffusion Index,Normal,NaN,20,Business Confidence Index - Industry
2,Business Confidence Survey – Indices,01-Oct-2025,TS_GP_RL_BCSIND_M.BCI_IM,............. BCI - Manufacturing Sector,54.69743,Diffusion Index,Normal,NaN,30,BCI - Manufacturing
3,Business Confidence Survey – Indices,01-Oct-2025,TS_GP_RL_BCSIND_M.BCI_IM1,................... General Economic Condition...,49.34211,Diffusion Index,Normal,NaN,40,BCI - Manufacturing-General Economic Condition...
4,Business Confidence Survey – Indices,01-Oct-2025,TS_GP_RL_BCSIND_M.BCI_IM2,................... General Economic Condition...,54.51128,Diffusion Index,Normal,NaN,50,BCI - Manufacturing-General Economic Condition...

In [116]:
df.shape

(6955, 10)

In [118]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6955 entries, 0 to 6954
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Dataset Name                6955 non-null   object
 1   Observation Date            6955 non-null   object
 2   Series Key                  6955 non-null   object
 3   Series Display Name         6955 non-null   object
 4   Observation Value           6955 non-null   float64
 5   Unit                        6955 non-null   object
 6   Observation Status          6955 non-null   object
 7   Observation Status Comment  0 non-null      float64
 8   Sequence No.                6955 non-null   int64
 9   Series name                 6955 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 543.5+ KB

In [120]:
df.drop(columns=["Dataset Name","Series Key", "Series Display Name", "Observation Status Comment"], inplace=True)

In [122]:
df.head()

,Observation Date,Observation Value,Unit,Observation Status,Sequence No.,Series name
0,01-Oct-2025,55.10470,Diffusion Index,Normal,10,Business Confidence Index Overall
1,01-Oct-2025,54.58190,Diffusion Index,Normal,20,Business Confidence Index - Industry
2,01-Oct-2025,54.69743,Diffusion Index,Normal,30,BCI - Manufacturing
3,01-Oct-2025,49.34211,Diffusion Index,Normal,40,BCI - Manufacturing-General Economic Condition...
4,01-Oct-2025,54.51128,Diffusion Index,Normal,50,BCI - Manufacturing-General Economic Condition...

In [124]:
df.shape

(6955, 6)

# Data Commons Python API V2

In [17]:
import datacommons_client

In [19]:
from datacommons_client.client import DataCommonsClient
# client = DataCommonsClient(api_key="AIzaSyCTI4Xz-UW_G2Q2RfknhcfdAnTHq5X5XuI")

In [21]:
client = DataCommonsClient(dc_instance="datacommons.one.org")

In [22]:
response = client.resolve.fetch_dcids_by_name(names="Georgia")
print(response)
# ResolveResponse(entities=[Entity(node='Georgia', candidates=[Candidate(dcid='geoId/13', dominantType=None), Candidate(dcid='country/GEO', dominantType=None), Candidate(dcid='geoId/5027700', dominantType=None)])])

{
  "entities": [
    {
      "node": "Georgia",
      "candidates": [
        {
          "dcid": "geoId/13"
        },
        {
          "dcid": "country/GEO"
        },
        {
          "dcid": "geoId/5027700"
        }
      ]
    }
  ]
}